# requirements.txt
sec-edgar-downloader
langchain
langchain-openai
langchain-pinecone>=0.2.13
langgraph
pinecone
python-dotenv
beautifulsoup4
langchain-huggingface
sentence-transformers
langchain-groq
langchain-community
rank_bm25
fastapi
uvicorn
gradio